#gamefield {
  border: 1px solid chartreuse;
  width: fit-content;
  display: grid;
}

#background {
  grid-area: 1 / 1;
  background-color: gray;
  width: calc(16 * 32px);
  height: calc(12 * 32px);
}

#items {
  grid-area: 1 / 1;
}

#characters {
  grid-area: 1 / 1;
}

#player {
  width: 46px;
  aspect-ratio: 16 / 20;
  background-image: url('images/Character 11.png');
  background-size: 400% 400%;
  image-rendering: pixelated;

}

.animate {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);
}

.down {
  background-position: 0% 0%;
  animation-name: down;
}
.up {
  background-position: 0% 0%;
  animation-name: up;
}
.left {
  background-position: 0% 0%;
  animation-name: left;
}
.right {
  background-position: 0% 0%;
  animation-name: right;
}


@keyframes down {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -400% 0%;
  }
}
@keyframes up {
  from {
    background-position: 0% -100%;
  }
  to {
    background-position: -400% -100%;
  }
}
@keyframes left {
  from {
    background-position: 0% 200%;
  }
  to {
    background-position: -400% 200%;
  }
}
@keyframes right {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 400% 100%;
  }
}
