#gamefield {
  border: 1px solid chartreuse;
  width: fit-content;
  display: grid;
}

#background {
  grid-area: 1 / 1;
  display: grid;
  grid-template-columns: repeat(var(--GRID_WIDTH), var(--TILE_SIZE));
  grid-template-rows: repeat(var(--GRID_HEIGHT), var(--TILE_SIZE));
}

#background .tile {
  width: var(--TILE_SIZE);
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: 100%;
  image-rendering: pixelated;
  background-image: url('images/tiles/grass.png');
}

#background .path {
  background-image: url('images/tiles/path.png');
}

#background .water {
  background-image: url('images/tiles/water.png');
}
#background .chest_closed {
  background-image: url('images/items/chest_closed.png');
  background-color: rgb(198, 129, 62);
}

#background .door {
  background-image: url('images/tiles/door.png');
}
#background .floor_wood {
  background-image: url('images/tiles/floor_wood.png');
}
#background .wall {
  background-image: url('images/tiles/wall.png');
}
#background .lava {
  background-image: url('images/tiles/lava.png');
}
#background .tree {
  background-image: url('images/tiles/tree.png');
}

#items {
  grid-area: 1 / 1;
}

.highlight {
  outline: 2px dashed yellow;
  translate: 0 0;
}

#characters {
  grid-area: 1 / 1;
}

#player {
  width: 32px;
  aspect-ratio: 16 / 20;
  background-image: url('images/character/Character 11.png');
  background-size: 400% 400%;
  image-rendering: pixelated;
}

.animate {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);
}

.down {
  background-position: 0% 0%;
  animation-name: down;
}
.up {
  background-position: 0% 0%;
  animation-name: up;
}
.left {
  background-position: 0% 0%;
  animation-name: left;
}
.right {
  background-position: 0% 0%;
  animation-name: right;
}

@keyframes down {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -400% 0%;
  }
}
@keyframes up {
  from {
    background-position: 0% -100%;
  }
  to {
    background-position: -400% -100%;
  }
}
@keyframes left {
  from {
    background-position: 0% 200%;
  }
  to {
    background-position: -400% 200%;
  }
}
@keyframes right {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 400% 100%;
  }
}

.show-rect {
  outline: 2px solid red;
}
